version: "3.9"

services:
  web:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - redis
    volumes:
      - .:/app

  redis:
    image: redis:7

  celery:
    build: .
    command: celery -A otp_service worker -l info
    depends_on:
      - redis
